# Hacking with Pandas

## Masks (boolean array) vs query

Filter the year 2021

In [1]:
import pandas as pd

df_energy = pd.read_csv('all-technology_2019-2021.csv', index_col=0)
df_energy

              technology  year  month  day  hour  generation_mwh
0                 Carbon  2019      1    1     0          1867.0
1                 Carbon  2019      1    1     1          1618.0
...                  ...   ...    ...  ...   ...             ...
420862  Other Renewables  2021     12   31    22           607.5
420863  Other Renewables  2021     12   31    23           591.6

[420864 rows x 6 columns]

### Dummy solution

### Proficient solution

## Query with multiple conditions

Filter the year `2021` and `Eolic` technology:

In [2]:
df_energy

              technology  year  month  day  hour  generation_mwh
0                 Carbon  2019      1    1     0          1867.0
1                 Carbon  2019      1    1     1          1618.0
...                  ...   ...    ...  ...   ...             ...
420862  Other Renewables  2021     12   31    22           607.5
420863  Other Renewables  2021     12   31    23           591.6

[420864 rows x 6 columns]

### Dummy solution

### Proficient solution

## Filter rows with regular expressions

Filter all `fiat` from the following `DataFrame`:

In [71]:
import seaborn as sns

df_mpg = sns.load_dataset('mpg')
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
...,...,...,...,...,...,...,...,...,...
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

### Dummy solution

In [72]:
list_fiat = ['fiat 124b', 'fiat 124 sport coupe', 'fiat 128', 'fiat 128', 'fiat 124 tc', 'fiat x1.9', 'fiat 131', 'fiat strada custom']

mask_fiat = df_mpg.name.isin(list_fiat)
dff = df_mpg[mask_fiat]
dff

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
52,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
114,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
117,29.0,4,68.0,49.0,1867,19.5,73,europe,fiat 128
147,24.0,4,90.0,75.0,2108,15.5,74,europe,fiat 128
148,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
151,31.0,4,79.0,67.0,2000,16.0,74,europe,fiat x1.9
182,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom

### Proficient solution

## Regex flag to IGNORECASE

Select all `sport` cars from the `name`:

In [74]:
df_mpg['name'] = df_mpg['name'].str.title()
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,Chevrolet Chevelle Malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,Buick Skylark 320
...,...,...,...,...,...,...,...,...,...
396,28.0,4,120.0,79.0,2625,18.6,82,usa,Ford Ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,Chevy S-10

### Dummy solution

### Proficient solution

## Filter axis with Regular Expressions

Select all `fiat` from the following `DataFrame`:

In [66]:
df_mpg = df_mpg.set_index('name')
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
...,...,...,...,...,...,...,...,...
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

### Dummy solution

### Proficient solution

## The DataFrame order matters

Visualize the following `DataFrame` with the bars in decreasing order:

### Dummy solution

### Proficient solution

Also, you may reverse the visualization order `Ascending=False`

## Pivot tables vs groupby

Summarise the `generation_mwh` by `technology` and `month`.

### Dummy solution

### Proficient solution

## Highlight the significant values with `background_gradient()`

### Dummy solution

### Proficient solution

Colour the following `DataFrame` based on the column values using `.style` property.

## Format the values to shorten decimals

### Dummy solution

### Proficient solution

## From absolute to the thousands

Don't show all digits of the thousands. For example: 20 000 should be 20.

### Dummy solution

### Proficient solution

## Specify the darkest value

### Dummy solution

### Proficient solution

## Change the color palette to the topic theme

### Dummy solution

### Proficient solution