# Hacking with Pandas

Load one of the following datasets:

In [1]:
import seaborn as sns

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

Using the function `load_dataset` from the `seaborn` library:

In [5]:
df_taxis = sns.load_dataset('taxis')
df_taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

And challenge yourself applying the following hacks to questions you make up about the data:

## Masks (boolean array) vs query

For example, in boolean arrays, you could filter by the taxi trips that were paid with a credit card:

### Dummy solution

In [8]:
mask_credit = df_taxis['payment'] == 'credit card'
df_taxis[mask_credit]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

### Proficient solution

In [10]:
df_taxis.query('payment == "credit card"')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

## Query with multiple conditions

Now, it's your turn to be creative!

### Dummy solution

### Proficient solution

## Filter rows with regular expressions

### Dummy solution

### Proficient solution

## Regex flag to IGNORECASE

### Dummy solution

### Proficient solution

## Filter axis with Regular Expressions

### Dummy solution

### Proficient solution

## The DataFrame order matters

### Dummy solution

### Proficient solution

Also, you may reverse the visualization order `Ascending=False`

## Pivot tables vs groupby

### Dummy solution

### Proficient solution

## Highlight the significant values with `background_gradient()`

### Dummy solution

### Proficient solution

Colour the following `DataFrame` based on the column values using `.style` property.

## Format the values to shorten decimals

### Dummy solution

### Proficient solution

## From absolute to the thousands

Don't show all digits of the thousands. For example: 20 000 should be 20.

### Dummy solution

### Proficient solution

## Specify the darkest value

### Dummy solution

### Proficient solution

## Change the color palette to the topic theme

### Dummy solution

### Proficient solution